<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sanchez.sanchez.sergio.brownie">

    <application android:allowBackup="true"
                 android:supportsRtl="true"
                 android:name=".BrownieApp"
                 android:theme="@style/AppTheme"/>
</manifest>
